<section class="grey lighten-3 p-4" id="contact">
    <h3 class="text-primary fw-500 center-align">Get in Touch with us - Top Interior Designer in Delhi</h3>
    <br />
    <br />
    <div class="flex row">
        <div class="col s12 m6 push-m6 p-m-3">
            <div class="border-1 white grey-border border-lighten-2" id="contact_form">
                <div class="progress-holder hide" id="progress">
                    <div class="progress">
                        <div class="indeterminate bg-primary"></div>
                    </div>
                </div>
                <div class="prevent-overlay hide full border-radius-8"></div>
                <form class="validate px-4 py-2">
                    <div class="input-field">
                        <input type="text" name="name" id="c_name" required />
                        <label for="c_name">
                            Name
                        </label>
                    </div>
                    <div class="input-field">
                        <input type="email" name="email" id="c_email" required />
                        <label for="c_email">
                            Email
                        </label>
                    </div>
                    <div class="input-field">
                        <input type="tel" name="number" id="c_number" required minlength="10" maxlength="12" />
                        <label for="c_number">
                            Number
                        </label>
                    </div>
                    <div class="input-field">
                        <textarea id="c_message" class="materialize-textarea" data-length="100" required
                            name="message"></textarea>
                        <label for="c_message">Message</label>
                    </div>
                    <button type="submit" class="btn bg-primary white-text right">
                        Submit Message
                    </button>
                    <br clear="both" />
                    <br />
                </form>
            </div>
        </div>
        <div class="col s12 m6 pull-m6 p-m-3">

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.9131367516584!2d77.27352471467859!3d28.572370982441598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce390f4e4c257%3A0x9222d850b2bb009d!2sWAMP+Institute!5e0!3m2!1sen!2sin!4v1527589111383"
                allowfullscreen class="map full border-1 grey-border border-lighten-2"></iframe>
        </div>
    </div>
</section>