<section class="grey lighten-3 p-4" id="contact">
    <h3 class="text-primary fw-500 center-align">Get in Touch with us - Top Interior Designer in Delhi</h3>
    <br />
    <br />
    <div class="flex row">
        <div class="col s12 m6 push-m6 p-m-3">
            <div class="border-1 white grey-border border-lighten-2" id="contact_form">
                <div class="progress-holder hide" id="progress">
                    <div class="progress">
                        <div class="indeterminate bg-primary"></div>
                    </div>
                </div>
                <div class="prevent-overlay hide full border-radius-8"></div>
                <form class="validate px-4 py-2">
                    <div class="input-field">
                        <input type="text" name="name" id="c_name" required />
                        <label for="c_name">
                            Name
                        </label>
                    </div>
                    <div class="input-field">
                        <input type="email" name="email" id="c_email" required />
                        <label for="c_email">
                            Email
                        </label>
                    </div>
                    <div class="input-field">
                        <input type="tel" name="number" id="c_number" required minlength="10" maxlength="12" />
                        <label for="c_number">
                            Number
                        </label>
                    </div>
                    <div class="input-field">
                        <textarea id="c_message" class="materialize-textarea" data-length="100" required
                            name="message"></textarea>
                        <label for="c_message">Message</label>
                    </div>
                    <button type="submit" class="btn bg-primary white-text right">
                        Submit Message
                    </button>
                    <br clear="both" />
                    <br />
                </form>
            </div>
        </div>
        <div class="col s12 m6 pull-m6 p-m-3">

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14018.577510069845!2d77.3017887!3d28.550407!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3f6d28ec36594450!2sAdil+Khan+General+Contractor!5e0!3m2!1sen!2sin!4v1564831330450!5m2!1sen!2sin"
                allowfullscreen class="map full border-1 grey-border border-lighten-2"></iframe>
        </div>
    </div>
</section>