<section class="bg-primary" id="footer">
    <div style="background-color: rgba(0,0,0,0.2);" class="p-4">
        <h3 class="center-align text-uppercase">Area Served</h3>
        <div class="mx-auto center center-align">
            <h6 class="my-2">South Delhi | New Delhi | Delhi | Gurgaon | Noida | Greater Noida</h6>
            <br />
        </div>
    </div>
</section>

<footer class="bg-primary px-4 py-1" style="padding: 6px 0px;">
    <div class="pl-3 left my-1">
        Copyright © 2019 | <strong>IsoTect Interiors</strong> | All rights
        reserved.
    </div>
    <div class="pr-3 right my-1">
        Designed and Developed by
        <strong><a href="https://www.wampinfotech.com" class="white-text">WAMP Infotech Pvt Ltd.</a></strong>
    </div>
    <div class="clearfix"></div>
</footer>