<ul class="sidenav" id="mobile-sidenav">
  <li class="waves-effect w-full show-on-medium pos-rel lh-0 top-banner">
  </li>
  <li class="user-mobile-drop"></li>
  <li class="waves-effect w-full mt-2">
    <a href="./"><i class="material-icons">home</i> Home</a>
  </li>
  <li class="waves-effect w-full">
    <a href="about"><i class="material-icons">group</i>
      About</a>
  </li>
  <li class="waves-effect w-full" onclick="popOut(this)">
    <a href="javascript:;"><i class="material-icons">card_travel</i>
      Services
    </a>
    <ul class="small-drop">
      <li><a href="services/renovation-work" class="truncate">Renovation Work</a></li>
      <li><a href="services/interior-exterior-painting" class="truncate">Interior & Exterior Painting</a></li>
      <li><a href="services/metal-fabrication-work" class="truncate">Metal Fabrication Work</a></li>
      <li><a href="services/wooden-work" class="truncate">Wooden Work</a></li>
      <li><a href="services/interior-designing" class="truncate">Interior Designing</a></li>
    </ul>
  </li>
  <li class="waves-effect w-full">
    <a href="portfolio"><i class="material-icons">domain</i> Portfolio</a>
  </li>
  <li class="waves-effect w-full">
    <a href="contact"><i class="material-icons">contact_mail</i> Contact</a>
  </li>
</ul>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="./" class="brand-logo fw-700 text-primary px-4"><img src="images/logo.png" class="ml-4 brand-img"
          alt="IsoTect Logo" />
      </a>
      <a href="javascript:;" data-target="mobile-sidenav" class="sidenav-trigger text-primary"><i
          class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="./" class="hover-text-primary fw-500">Home</a></li>
        <li>
          <a class="hover-text-primary fw-500" href="about">About</a>
        </li>
        <li class="drop">
          <a class=" hover-text-primary fw-500" href="javascript:;">Services</a>
          <ul>
            <li><a href="services/renovation-work">Renovation Work</a></li>
            <li><a href="services/interior-exterior-painting">Interior & Exterior Painting</a></li>
            <li><a href="services/metal-fabrication-work">Metal Fabrication Work</a></li>
            <li><a href="services/wooden-work">Wooden Work</a></li>
            <li><a href="services/interior-designing">Interior Designing</a></li>
          </ul>
        </li>
        <li><a href="portfolio" class="hover-text-primary fw-500">Portfolio</a></li>
        <li>
          <a href="contact" class="hover-text-primary fw-500">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>