<ul class="sidenav" id="mobile-sidenav">
  <li class="waves-effect w-full show-on-medium pos-rel lh-0 top-banner">
  </li>
  <li class="user-mobile-drop"></li>
  <li class="waves-effect w-full mt-2">
    <a href="/isotect/"><i class="material-icons">home</i> Home</a>
  </li>
  <li class="waves-effect w-full">
    <a href="#"><i class="material-icons">group</i>
      About</a>
  </li>
  <li class="waves-effect w-full" onclick="popOut(this)">
    <a href="javascript:;"><i class="material-icons">card_travel</i>
      Services
    </a>
    <ul class="small-drop">
      <li><a href="#" class="truncate">Executive Digital Marketing</a></li>
      <li><a href="#" class="truncate">Advanced Digital Marketing</a></li>
      <li><a href="#" class="truncate">Masters in Advanced Digital Marketing</a></li>
    </ul>
  </li>
  <li class="waves-effect w-full">
    <a href="#"><i class="material-icons">domain</i> Portfolio</a>
  </li>
  <li class="waves-effect w-full">
    <a href="#"><i class="material-icons">supervisor_account</i> Clients</a>
  </li>
  <li class="waves-effect w-full">
    <a href="#"><i class="material-icons">play_circle_filled</i> Media</a>
  </li>
  <li class="waves-effect w-full">
    <a href="#"><i class="material-icons">work</i> Careers</a>
  </li>
  <li class="waves-effect w-full">
    <a href="#"><i class="material-icons">contact_mail</i> Contact</a>
  </li>
  <li class="waves-effect w-full">
    <a href="#"><i class="material-icons">forum</i> Blog</a>
  </li>
</ul>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/institute/" class="brand-logo fw-700 text-primary"><img src="images/logo.png" class="ml-4 brand-img"
          alt="IsoTect Logo" />
      </a>
      <a href="javascript:;" data-target="mobile-sidenav" class="sidenav-trigger text-primary"><i
          class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/isotect/" class="hover-text-primary fw-500">Home</a></li>
        <li>
          <a class="hover-text-primary fw-500" href="about">About</a>
        </li>
        <li class="drop">
          <a class=" hover-text-primary fw-500" href="javascript:;">Services</a>
          <ul>
            <li><a href="#">Executive Digital Marketing</a></li>
            <li><a href="#">Advanced Digital Marketing</a></li>
            <li><a href="#">Masters in Advanced Digital Marketing</a></li>
          </ul>
        </li>
        <li><a href="#" class="hover-text-primary fw-500">Portfolio</a></li>
        <li><a href="#" class="hover-text-primary fw-500">Clients</a></li>
        <li><a href="#" class="hover-text-primary fw-500">Media</a></li>
        <li><a href="#" class="hover-text-primary fw-500">Careers</a></li>
        <li>
          <a href="#" class="hover-text-primary fw-500">Contact</a>
        </li>
        <li>
          <a href="#" class="hover-text-primary fw-500">Blog</a>
        </li>
      </ul>
    </div>
  </nav>
</div>